<%- include('../partials/home/home-header.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                  
                    <span></span> Login
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>

                                        <form action="/login" method="post" id="login-form">
                                            <div class="form-group">
                                                <input type="email" required="" id="email" name="email" placeholder="Your Email" value="anvidh@gmail.com">
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" id="password" name="password" placeholder="Password" value="111111">
                                            </div>
                                            <div class="login_footer form-group">
                                                <a class="text-primary" href="/forgot-password">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                            </div>
                                            <div id="error-message" style="color: rgba(239, 10, 10, 0.836);"></div>
                                            <div class="text-muted text-center">New User? Create an account <a href="/register">Register now</a></div>
                                        </form>
                                       
                                        
                                        

                                    </div>
                                </div>
                            </div>
                           
    </main>

    

    <script>

    $(document).ready(function () {
        $('#login-form').submit(function (e) {
            e.preventDefault(); 
            var formData = $(this).serialize(); 
    
            
            $.ajax({
                type: 'POST',
                url: '/login',
                data: formData,
                success: function (response) {
                    if (response.success) {

                        window.location.href = response.originalURL;
                    } else {
                        $('#error-message').text("Email or password incorrect");
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        $('#error-message').text("Email or password incorrect");
                    }else if(xhr.status ===403){
                         $('#error-message').text("Your access has been restricted by the administrator. Please reach out to the administrator at admin@gmail.com for further assistance.");
                    } else {
                        console.error(xhr.responseText);
                        $('#error-message').text("An error occurred while processing your request.");
                    }
                }
            });
        });
    });

</script>
    

    


    <%- include('../partials/home/home-footer.ejs') %>


